/*  OVERALL OVERAL  OVERAL  */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=PT+Mono&family=Exo+2:wght@400;600;700&family=Rock+Salt&display=swap');
html,
body {
    overflow-x: auto;
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: #fafafa;
}

.body-sector {
    background-color: #fafafa;
    padding: 14px;
}

.title {
    padding: 20px 100px;
    font-size: 60px;
    font-weight: 500;
}

.photographer {
    padding: 0px 110px;
    margin: 0px;
    margin-bottom: 80px;
}

@media (max-width: 400px) {
    .title {
        padding-left: 40px;
    }

    .photographer {
        padding-left: 50px;
    }
}

@media (max-width: 320px) {
    .title {
        padding-left: 10px;
    }

    .photographer {
        padding-left: 20px;
    }
}


/*  HEADER HEADER  HEADER  */

.head-sector {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #a91d17;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-left: 24px;
    padding-right: 50px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 120px;
    width: auto;
    border-radius: 100px;
}

.slogan {
    /*transform: rotate(-10deg);*/
    padding-bottom: 16px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 16px;
    width: 15vw;
}

@media (max-width: 460px) {
    .slogan {
        width: 69px;
    }
}

@media (max-width: 300px) {
    .header-left {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header {
        padding-right: 50px;
    }

}

@media (min-width: 550px) {
    .header-left {
        align-items: center;
    }
}

@media (max-width: 550px) {
    .header-logo-cont {
        margin-right: 8px;
    }

    .header-left {
        align-items: flex-start;
    }
}

.pages-links a {
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    padding: 16px 18px;
}

.hamburger {
    transition: all .3s ease;
}

.hamburger-active {
    transform: rotate(180deg);
}

@media(min-width: 940px) {
    .pages-links {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0px 16px;
        margin-left: 36px;
        padding-right: 16px;
        flex-wrap: wrap;
    }

    .link-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger,
    .drop-links,
    .drop-links a {
        display: none;
    }
}

@media(max-width: 940px) and (min-width: 820px) {
    .pages-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 16px;
        margin-left: 36px;
        padding-right: 16px;
    }

    .link-box {
        display: flex;
        flex-direction: column;
    }

    .hamburger,
    .drop-links,
    .drop-links a {
        display: none;
    }
}

@media(max-width: 819px) {

    .pages-links .link-box {
        display: none;
    }

    .header {
        position: relative;
    }

    .hamburger {
        font-size: 30px;
        text-align: center;
        position: absolute;
        right: 36px;
        bottom: 40px;
        color: white;
    }

    .drop-links a {
        text-align: right;
        text-decoration: none;
        font-size: 20px;
        color: white;
        padding: 8px;
        padding-right: 40px;
    }

    .drop-links {
        display: none;
        flex-direction: column;
        align-items: right;
        background-color: #540f0c;
    }

    .drop-links a:hover {
        background-color: #eee;
        color: black;
    }
}

.header-picture {
    background-color: #a91d17;
    background-image: url(./images/igralci/Skupinska_clani.jpg);
    background-size: cover;
    background-position: 50% 63%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 41vw;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: azure;
    font-weight: 700;
    text-align: center;
    padding: 16px;
}

.header-title p{
    word-wrap: none;
}

.header-title1 {
    font-size: 16px;
    margin: 0;
    margin-top: 8px;
}

.header-title2 {
    font-size: 24px;
    margin: 8px;
}

.header-title3 {
    font-size: 10px;
    font-variant: small-caps;
    margin: 0;
    margin-bottom: 8px;
}

@media (max-width: 400px) {
    .header-title {
        display: none;
    }
}


/*  FOOTER  FOOTER  FOOTER  */

.foot-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #540f0c;
    color: #ffffff;
    padding: 24px;
    position: relative;
}

.foot-sector div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-sector .soc-om {
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
}

.footer p {
    margin: 4px;
}

.foot-sector img {
    height: 42px;
    width: auto;
    padding: 16px 8px;
}

.foot-sector a {
    color: #ffffff;
}

@media (min-width: 770px) {
    .signature {
        position: absolute;
        bottom: 16px;
        right: 5%;

    }
}

.signature p {
    font-family: 'Rock Salt', cursive;
    transform: rotate(5deg);
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: -16px;
}

.signature .dev-sign {
    margin: 0 0;
    font-size: 24px;
}


/*  DOMOV  DOMOV  DOMOV  */

.body-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.tekma-box {
    border: #a91d17 solid 3px;
    text-align: center;
    padding: 16px;
}

.tekma-title {
    font-size: 40px;
    margin: 16px;
    margin-bottom: 8px;
}

.tekma-date {
    font-variant: small-caps;
    font-size: 24px;
    margin: 0px;
}

.tekma-time {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.tekma-countdown {
    font-family: 'PT Mono', monospace;
    font-variant: small-caps;
    font-size: 36px;
    margin-bottom: 8px;
}


@media (max-width: 514px){
    .tekma-countdown{
    font-size: 7vw;
    }
}

.tekma-kind img {
    width: 64px;
    height: auto;
}

.tekma-logo-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tekma-logo {
    display: flex;
    max-height: 135px;
    max-width: 100%;
    margin: 8px;
    justify-content: space-between;
}

.body-2 {
    display: flex;
    flex-direction: column;
    border: #540f0c solid 2px;
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
}

@media (min-width: 400px) {
    .spons-title p {
        font-size: 50px;
        font-weight: 700;
        padding-left: 50px;
    }
}

@media (max-width: 400px) {
    .spons-title p {
        font-size: 40px;
        font-weight: 700;
        padding-left: 10px;
    }
}

.spons-logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.spons-logo-cont img {
    padding: 8px;
}

.general-sponsor img {
    max-height: 150px;
    max-width: 100%;
}

.spons-tier1 {
    padding-bottom: 16px;
}

.spons-tier1 img {
    max-height: 110px;
    max-width: 100%;
}

.spons-tier2,
.spons-tier3,
.spons-tier4,
.spons-tier5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spons-tier2 img {
    max-height: 70px;
    max-width: 100%;
}

.spons-tier3 img {
    max-height: 60px;
    max-width: 100%;
}

.spons-tier4 img {
    max-height: 50px;
    max-width: 100%;
}

.spons-tier5 img {
    max-height: 40px;
    max-width: 100%;
}


/*  KONTAKT  KONTAKT  KONTAKT*/

#kontakt .title{
    padding-left: 124px;
}

.kontakt-cont {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1050px) {
    .kontakt-sideimg {
        flex: 0 1 auto;
        max-height: 350px;
        width: auto;
        padding-right: 50px;
    }
}

@media (max-width: 1050px) {
    .kontakt-sideimg {
        display: none;
    }
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin: 24px;
}

.info h2 {
    display: flex;
    flex: none;
    padding-bottom: 8px;
    text-align: left;
}

.info h3 {
    margin-top: 36px;
}

.info p {
    font-size: 18px;
    font-weight: 200;
}

.info a {
    color: #000000;
}

.info-soc {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin: 24px;
    padding-bottom: 64px;
}

.info-soc h2 {
    display: flex;
    flex: none;
    text-align: right;
}

.info-soc img {
    height: 48px;
    width: auto;
    padding: 0px 8px;
}

@media (max-width: 500px) {

    .info,
    .info-soc {
        padding-left: 40px;
    }
    #kontakt .title{
        padding-left: 64px;
    }
}


/*  KOLEDAR  KOLEDAR  KOLEDAR  */

.koledar-piece {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    background-color: #dbdbdb;
    font-size: 18px;
    font-weight: 600;
    margin: 4px 0px;
    border-radius: 2px;
}

.koledar-team {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 8px 0;
}

.koledar-team p {
    padding: 0 16px;
}

.koledar-rez {
    display: flex;
    align-items: center;
    background-color: #e1221c;
    color: white;
    border-radius: 2px;
    padding: 8px;
}

.koledar-rez p {
    margin: 4px;
}

.koledar-team img {
    width: 52px;
    height: 52px;
}

@media(min-width: 769px) {
    .koledar-piece-upper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        border-bottom: 1px dashed black;
    }

    .koledar-piece-upper p {
        padding: 0px 16px;
        font-size: 16px;
    }

    .koledar-piece-lower {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .koledar-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .koledar-middle p {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .koledar-piece p {
        text-align: center;
    }

    .koledar-piece-upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        border-bottom: 1px dashed black;
    }

    .koledar-piece-upper p {
        padding: 0px 16px;
        font-size: 16px;
    }

    .koledar-piece-lower {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .koledar-middle p {
        text-align: center;
    }
}


/*  GALERIJA  GALERIJA  GALERIJA  */

#galerija .title {
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.galerija-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galerija-cont img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #dbdbdb;
    margin: 3px;
}

@media (max-width: 400px) {
    .galerija-cont img {
        width: 95vw;
    }
}


/*  CLANSKA  CLANSKA  CLANSKA  */

.clanska-ekipa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -16px;
}

.player-cont {
    background-color: #d8d8d8;
    border: 2px solid #a4a4a4;
    margin: .5%;
    width: 31%;
}

.player-cont img {
    width: 50%;
    overflow: hidden;
    float: left;
    padding-right: 2%;
}

.player-cont p {
    font-size: 1.5vw;
    margin: 4px;
}

.player-cont .player-name {
    font-size: 2vw;
    font-weight: bold;
}

.player-cont a{
    text-decoration: none;
    color: black;
}

@media (max-width:700px) {
    .player-cont {
        margin: .5%;
        width: 48%;
    }

    .player-cont p {
        font-size: 2vw;
    }

    .player-cont .player-name {
        font-size: 3vw;
    }
}

@media (max-width: 425px) {
    .player-cont {
        margin: 2%;
        width: 100%;
    }

    .player-cont p {
        font-size: 4vw;
    }

    .player-cont .player-name {
        font-size: 6vw;
    }
}


/*  ROK-SOLA  ROK-SOLA ROK-SOLA  */

#rokometna-sola .body-sector{
    position: relative;
}

@media (max-width:450px) {
    #rokometna-sola .title {
        padding: 10px;
    }
}

.sole {
    margin: 16px;
    padding: 4px;
}

.sola {
    border-bottom: 2px solid #e1221c;
    margin: 8px;
    width: 314px;
}

@media (max-width:425px) {
    .sole{
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    .sola{
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width:360px) {
    .sola{
        margin-left: -17px;
        margin-right: 0;
    }

}

.sola-up {
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}

.more-btn-inactive {
    transition: all .3s ease;
}

.more-btn-active {
    transform: rotate(90deg);
}

.sola-podatki {
    border-top: 2px solid hsl(0, 0%, 70%);
    margin: 0;
    padding: 4px;
}

.sola-podatki p {
    margin: 6px;
}

.sola-podatki .trener {
    margin-top: 8px;
    margin-left: -4px;
    margin-right: -4px;
    border-top: 2px dashed hsl(0, 0%, 70%);
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.sola-podatki-hide {
    display: none;
}

#rokometna-sola li {
    margin: 8px;
}

.prijavnica-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    width: 100%;
}

.prijavnica-big h3 {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: 400;
}

.prijavnica-big img {
    width: 30vw;
    height: auto;
}

.prijavnica-small h3{
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 20px;
}

.prijavnica-small img {
    width: 200px;
    height: auto;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}

@media (min-width:801px){
    .prijavnica-small{
        display: none;
    }
}

@media (max-width:800px){
    .prijavnica-big {
        display: none;
    }
}

.menu-and-prijavnica{
    display: flex;
}
