@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    overflow-x: auto;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}


.head-sector {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #a91d17;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    padding-left: 24px;
    padding-right: 50px;

}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-right: 70px;
}

.header-logo {
    height: 120px;
    width: auto;
    border-radius: 100px;
}

@media (max-width: 620px) {
    .header-left {
        flex-direction: column;
        justify-content: space-evenly;
    }

}

@media (min-width: 450px) {
    .slogan {
        transform: rotate(-10deg);
        width: 250px;
    }

    .header-left {
        align-items: center;
    }
}

@media (max-width: 450px) {
    .slogan {
        display: none;
    }

    .header-left {
        align-items: flex-start;
    }
}

@media(min-width: 940px) {
    .pages-links {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0px 16px;
        margin-left: 36px;
        padding-right: 16px;
        flex-wrap: wrap;
        text-shadow: -2px 0 #a91d17, 0 2px #a91d17, 2px 0 #a91d17, 0 -2px #a91d17;
    }

    .link-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width: 940px) {
    .pages-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 16px;
        margin-left: 36px;
        padding-right: 16px;
        text-shadow: -2px 0 #a91d17, 0 2px #a91d17, 2px 0 #a91d17, 0 -2px #a91d17;
    }

    .link-box {
        display: flex;
        flex-direction: column;

    }
}

@media(max-width: 820px) {
    .pages-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
        margin-left: 36px;
        padding-right: 16px;
        text-shadow: -2px 0 #a91d17, 0 2px #a91d17, 2px 0 #a91d17, 0 -2px #a91d17;
    }

    .link-box {
        display: flex;
        flex-direction: column;

    }
}

@media(max-width: 380px) {
    .pages-links {
        margin-left: 8px;
        padding-left: 8px;
    }
}

.pages-links a {
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    padding: 16px 18px;
}

.header-title {
    background-color: #a91d17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: azure;
    font-weight: 800;
    text-align: center;
    background-image: url(./images/igralci/Skupinska_clani.jpg);
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px gray;
}

.header-title1 {
    font-size: 25px;
    margin: 24px;
    margin-top: 100px;
}

.header-title2 {
    font-size: 65px;
    margin: 0;
    margin-bottom: 16px;
}

.header-title3 {
    font-size: 20px;
    font-variant: small-caps;
    margin: 24px;
    margin-bottom: 120px;
}

.body-sector {
    background-color: #fafafa;
    padding: 16px;
}

.body-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.tekma-box {
    border: #a91d17 solid 3px;
    text-align: center;
    padding: 16px;
}

.tekma-title {
    font-size: 40px;
    margin: 16px;
    margin-bottom: 8px;
}

.tekma-date {
    font-variant: small-caps;
    font-size: 24px;
    margin: 0px;
}

.tekma-time {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 16px;

}

.tekma.kind {
    font-size: 20px;
    margin: 16px;
}

.tekma-logo-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tekma-logo {
    display: flex;
    max-height: 150px;
    max-width: 100%;
    margin: 8px;
    justify-content: space-between;
}

.body-2 {
    display: flex;
    flex-direction: column;
    border: #540f0c solid 2px;
    margin: 16px;
    padding: 16px;
    background-color: #ffffff;
}

@media (min-width: 400px) {
    .spons-title p {
        font-size: 50px;
        font-weight: 700;
        padding-left: 50px;
    }
}

@media (max-width: 400px) {
    .spons-title p {
        font-size: 40px;
        font-weight: 700;
        padding-left: 10px;
    }
}

.spons-logo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.spons-logo-cont img {
    padding: 8px;
}

.general-sponsor img {
    max-height: 150px;
    max-width: 100%;
}

.spons-tier1 {
    padding-bottom: 16px;
}

.spons-tier1 img {
    max-height: 110px;
    max-width: 100%;
}

.spons-tier2,
.spons-tier3,
.spons-tier4,
.spons-tier5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spons-tier2 img {
    max-height: 70px;
    max-width: 100%;
}

.spons-tier3 img {
    max-height: 60px;
    max-width: 100%;
}

.spons-tier4 img {
    max-height: 50px;
    max-width: 100%;
}

.spons-tier5 img {
    max-height: 40px;
    max-width: 100%;
}

.foot-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #540f0c;
    color: #ffffff;
    padding: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
}

.footer p {
    margin: 4px;
}

.foot-sector img {
    height: 42px;
    width: auto;
    padding: 16px 8px;
}

.foot-sector a {
    color: #ffffff;
}

.title {
    padding: 20px 100px;
    font-size: 60px;
    font-weight: 300;
}

.photographer {
    padding: 0px 110px;
    margin: 0px;
    margin-bottom: 80px;
}

@media (max-width: 400px) {
    .title {
        padding-left: 50px;
    }

    .photographer {
        padding-left: 60px;
    }
}

.kontakt-cont {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 800px) {
    .kontakt-sideimg {
        flex: 0 1 auto;
        max-height: 450px;
        width: auto;
        padding-right: 50px;
    }
}

@media (max-width: 800px) {
    .kontakt-sideimg {
        display: none;
    }
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin: 24px;
}

.info h2 {
    display: flex;
    flex: none;
    padding-left: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.info p {
    font-size: 18px;
    font-weight: 200;
}

.info a {
    color: #000000;
}

.info-soc {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 24px;
    padding-bottom: 64px;
}

.info-soc h2 {
    display: flex;
    flex: none;
    padding-left: 8px;
    text-align: right;
}

.info-soc img {
    height: 48px;
    width: auto;
    padding: 0px 8px;
}

@media (max-width: 500px) {

    .info,
    .info-soc {
        padding-left: 40px;
    }
}

.koledar-piece {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    background-color: #dbdbdb;
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0px;
    border-radius: 2px;
}

.koledar-piece-l {
    text-align: left;
}

.koledar-piece-l p {
    margin: 4px 0px;
}

.koledar-piece-m {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
}

.koledar-team {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 8px 0;
}

.koledar-team p {
    padding: 0 16px;
}

.koledar-rez {
    display: flex;
    align-items: center;
    background-color: #e1221c;
    color: #fafafa;
    border-radius: 2px;
    padding: 8px;
}

.koledar-rez p {
    margin: 4px;
}

.koledar-team img {
    width: 52px;
    height: 52px;
}

.koledar-piece-r {
    text-align: right;
}

.koledar-piece-r p {
    margin: 16px 0px;
}

.koledar-piece-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px;
    background-color: #dbdbdb;
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0px;
    border-radius: 2px;
}

.koledar-piece-upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border-bottom: 1px dashed black;
}

.koledar-piece-upper p {
    padding: 0px 16px;
    font-size: 16px;
}

.koledar-piece-lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

}

.galerija-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galerija-cont img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #dbdbdb;
    margin: 3px;
}

@media (max-width: 400px) {
    .galerija-cont img {
        width: 95vw;
    }
}

#galerija-title {
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.player-cont {
    display: flex;
    margin-bottom: 24px;
    margin-left: 24px;
}

@media (min-width: 450px) {
    .player-cont img {
        max-width: 250px;
        height: 100%;
        margin-right: 24px;
        border-radius: 4px;
    }
}

@media (max-width: 450px) {
    .player-cont img {
        max-width: 150px;
        height: 100%;
        margin-right: 24px;
        border-radius: 4px;

    }
}

.player-cont p {
    font-size: 20px;
}

.player-cont .player-name {
    font-size: 28px;
    font-weight: bold;
}

.prijavnica {
    padding: 8px 0px;
}

.prijavnica img {
    width: 100%;
}

.absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-middle p {
    text-align: center;
}